#memeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    background-color: rgb(255, 47, 75);
    }
    
    .meme {
    border: 1px solid #ccc;
    padding: 20px;
    color: blue;
    border-radius: 29px;
    }
    
    .meme h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    }
    
    .meme img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    }
    
    .meme p {
    font-size: 1em;
    margin-bottom: 10px;
    }